@media screen {
    body, html {
        height: 100%;
        background-color: black;
    }

    .bg-image {
        position: center;
        z-index: -1;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #bg-image1 {
        background-image: url(img/loginBG.png);
        filter: blur(4px);
        -webkit-filter: blur(4px);
    }

    #bg-image2 {
        background-image: url(img/mainBG.webp);
    }

    a:link {
        color: #3700B3;
    }

    .mainImages {
        position: absolute;
        z-index: 1;
        transform: translate(-50%, -10%);
    }

    .loginForm {
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container {
        font-family: Hacked, serif;
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {
        position: absolute;
        z-index: auto;
        color: #D92229;
        font-size: 700%;
        top: auto;
        left: auto;
        transform: translate(-50%, -500%);
    }

    #mainText {
        background: #21211F;
        width: 420px;
        height: auto;
        display: block;
        color: #D92229;
        font-size: 150%;
        position: absolute;
        text-align: center;
        transform: translate(-50%, -150%);
    }

    .list {
        background: #21211F;
        width: 400px;
        z-index: 3;
        position: fixed;
        text-align: center;
        transform: translate(-175%, -100%);
    }

    li {
        color: #D92229;
        font-size: 36px;
        list-style-type: none;
        transform: translate(-5%, -5%);
    }

    .tabletable {
        position: absolute;
        z-index: 1;
        transform: translate(75%, -105%);
        font-size: 48px;

    }

    #mainTable {
        border-collapse: collapse;
        border: 2px solid #D92229;
        color: #D92229;

    }

    #nestedTable {
        position: absolute;
        transform: translate(35%, -50%);
        border: 1px solid #D92229;
    }

    td, th {
        border-collapse: collapse;
        padding: 0.5rem;
        text-align: center;
        background: #21211F;
        border: 3px solid #3700B3;
    }
}
